.container {
  color: #1e1e22;
}

.apod-wrapper {
  text-align: center;
}

.header {
  background-color: #0b3d91;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  padding-bottom: 35px;
}

.apod-title {
  padding-top: 20px;
  font-weight: 700;
  font-size: 3rem;
}

#logo {
}
