.apod-wrapper {
  text-align: center;
}

.container {
  position: relative;
}

.header {
  background-color: #0b3d91;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  padding: 0 20px;
  padding-bottom: 35px;
}

.apod-title {
  padding-top: 20px;
  font-weight: 700;
  font-size: 3rem;
}

.main-content {
  width: 70%;
  margin: 0 auto;
  max-width: 1500px;
}

.text-wrapper {
  border: 3px solid #0b3d91;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-wrapper h2 {
  padding-bottom: 20px;
}

.text-wrapper p {
  padding: 10px 0;
}

iframe {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 100px;
  width: 60%;
  height: 50vh;
}

#logo {
  padding: 30px;
}

.button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 30px;
  border: 3px solid #0b3d91;
  padding: 10px;
  background-color: #d3d3df;
  color: black;
  margin-bottom: 50px;
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button:hover {
  background-color: #fc3d21;
  color: white;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal .nasa-pic-wrapper {
  width: 60%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 1);
}

.modal .nasa-pic-wrapper iframe {
  width: 100%;
  height: 100%;
}

.modal-active {
  display: flex;
}
